header#masthead.site-header{
	background-color:$white;
}

div.menu-menu-1-container{
	margin-top:-1rem;
}

div.site-branding{
	padding-left:1.5em;
	padding-top:1em;
}

nav#site-navigation.main-navigation{
	ul { 
    float:right;
}
	li.menu-item{
		margin-top:-3em;
		padding:1em;
		float:left;
	}
}

button.menu-toggle{
		top:40px;
		position:absolute;
		right:10px;
	}

button.menu-toggle{
	margin-top:1.5em;
	background-color:$white;
	border:2px solid $darkgrey;
	border-radius:initial;
}

nav#site-navigation.main-navigation.toggled{
	padding-top:30%;
	// width: 100vw;
 //    height: 100vh;
    background: #fff;
    margin: 0;

    li a .menu-item{
    	padding-top:5em;
		width:100vw;
		text-align:center;
		display:inline;
	}

	li a {
		padding:0;
		color:$purpleyblue;	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 600px) {
  
  nav#site-navigation.main-navigation{
	ul { 
    float:right;
}
	li.menu-item{
		margin-top:-3em;
		padding:1em;
		float:left;
		display:contents;
	}
}

nav#site-navigation.main-navigation.toggled li a {
    padding: 10px;
    color: $purpleyblue;
    height: 12vh;
    padding-right: 40vw;
    text-align: center;
}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  nav#site-navigation.main-navigation{
	ul { 
    float:right;
}
	li.menu-item{
		margin-top:-3em;
		padding:1em;
		float:left;
		display:contents;
	}
}

nav#site-navigation.main-navigation.toggled li a {
    padding: 10px;
    color: $purpleyblue;
    height: 12vh;
    padding-right: 40vw;
    text-align: center;
}
  
}


